<!DOCTYPE html>
<html>
  
<head>
    <title>FILE UPLOAD </title>
</head>
  
<body>
    <h1> File Upload </h1>
   
    <form action="/api/v1/file_upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="avatar" placeholder="profile picture">
        <input type="submit"  value="Update">
    </form>
</body>
  
</html>